// Кастомная темная тема

[data-bs-theme="custom"] {
  --bs-body-color: #{$body-color-custom-dark};
  --bs-body-color-rgb: #{to-rgb($body-color-custom-dark)};
  --bs-body-bg: #{$body-bg-custom-dark};
  --bs-body-bg-rgb: #{to-rgb($body-bg-custom-dark)};
  --bs-secondary-bg: #{$secondary-bg-custom-dark};
  --bs-secondary-bg-rgb: #{to-rgb($secondary-bg-custom-dark)};

  .nav-pills {
    --bs-nav-pills-link-active-bg: #{$active-component-bg-custom-dark};
  }

    
//     .dropdown-menu {
//       --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
//       --bs-dropdown-link-active-bg: #{$blue-700};
//     }
  
//     .btn-secondary {
//       --bs-btn-bg: #{mix($gray-600, $green-400, 0.5%)};
//       --bs-btn-border-color: #{rgba($white, 0.25)};
//       --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, 0.5%), 5%)};
//       --bs-btn-hover-border-color: #{rgba($white, 0.25)};
//       --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, 0.5%), 10%)};
//       --bs-btn-active-border-color: #{rgba($white, 0.5)};
//       --bs-btn-focus-border-color: #{rgba($white, 0.5)};
//       --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, 0.2);
//     }
   }