.modal {
  position: fixed;
  z-index: 999;
  width: content-box;
  height: content-box;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 20% 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.formField {
  display: flex;
  justify-content: space-between;
}

input {
  border-radius: 5px;
}

.btn {
  align-self: end;
  margin: 10px;
  border-radius: 5px;
  background-color: #7aa0c1;
}
