@import "src/common/styles/index";

.logo {
    @include text(30px, 42px, bolder, #78B7EF);
    background: linear-gradient(to right, #50D3BB, #78B7EF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name {
    @include text(20px, 24px);
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.arrow_wrapper {
    position: relative;
    width: 0;
}
.arrow {
    align-self: flex-end;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: -1.5rem;
    top: calc(50vh - 1.5rem);

    img {
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        border: 1px solid $gray-200;
        border-radius: 1rem; 
    }
    
    img:hover {
        background-color: $gray-200;
    }
}
